.wrap {
  height: 1267px;
  color: #FFFFFF;
  background-color: #8B5AA0;
}

.title{
  padding: 0 250px;
  font-weight: 700;
  font-size: 60px;
  line-height: 104.8%;
  letter-spacing: -0.02em;
  margin-left: 20px;
  margin-top: -42px;
}

.titleSpan{
  font-style: italic;
  margin-left: 13px;
  font-weight: 400;
}

.slider{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 160px;
}

.item{
  width: 400px;
  height: 500px;
  margin-left: 50px;
  background-color: teal;
  border-radius: 30px;
}
