.button {
  padding: 20px 65px;
  color: white;
  background-color: #231F20;
  border-radius: 20px;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 104.8%;
  letter-spacing: -0.02em;
}
