.nav{
  margin-top: 16px;
  margin-right: 50px;
  display: flex;
}

.item{
  width: auto;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  margin-left: 92px;
  border-radius: 6px;

  &:nth-child(1) {
    margin-left: 0;
  }
}
