.wrap{
  display: flex;
  margin-right: 414px;
}


.logo{
  width: 200px;
  height: 50px;
  background-image: url("../../assets/images/header/logo.svg");
  background-repeat: no-repeat;
}

.frame {
  margin-top: 8px;
  margin-left: 30px;
  width: 100px;
  height: 50px;
  background-image: url("../../assets/images/header/frame.svg");
  background-repeat: no-repeat;
}
