.header{
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  margin-top: 37px;
  //padding: 0 260px;
}

.arrow{
  margin-top: 18px;
  margin-right: 152px;
  font-size: 12px;
}

.quote{
  margin-top: 14px;
}
