.wrap{
  color: #FFFFFF;
}

.title{
  padding: 108px 0 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 104.8%;
  letter-spacing: -0.02em;
}

.titleSpan{
  margin-left: 10px;
  font-style: italic;
  font-weight: 400;
}

.center{
  //padding: 0 258px;
  margin-top: 85px;
}

.textCenter{
  width: 370px;
  height: 184px;
  font-weight: 450;
  font-size: 20px;
  line-height: 140%;
}

.experience{
  margin-top: 90px;
  //margin-left: 255px;
  font-weight: 700;
  font-size: 100px;
  line-height: 104.8%;
  letter-spacing: -0.02em;
}

